.container {
  width: 830px;
  height: 700px;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 5px;
}

.containerImagen {
  width: 500px;
  height: 500px;
}

.containerCircle {
  width: 50px;
  height: 50px;
  border: 1px solid rgb(224, 224, 224);
  position: absolute;
  margin-top: 25px;
  margin-left: 25px;
  border-radius: 0px 2px 5px 15px;
}
.containerCircle1 {
  width: 50px;
  height: 75px;
  border: 1px solid rgb(224, 224, 224);
  position: absolute;
  margin-top: 125px;
  margin-left: 125px;
  border-radius: 0px 2px 5px 15px;
}
.containerCircle2 {
  width: 50px;
  height: 75px;
  border: 1px solid rgb(211, 211, 214);
  position: absolute;
  margin-top: 150px;
  margin-left: 500px;
  border-radius: 0px 2px 5px 15px;
}
.containerCircle3 {
  width: 50px;
  height: 75px;
  border: 1px solid rgb(211, 211, 214);
  position: absolute;
  margin-top: 100px;
  margin-left: 600px;
  border-radius: 0px 2px 5px 15px;
}
