.container {
  width: 830px;
  height: 200px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.container section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(209, 209, 209);
  width: 70px;
  height: auto;
  border-radius: 5px;
}

.container section:hover {
  color: rgb(36, 36, 36);
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
}
