.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.form {
  display: grid;
  padding: 1em;
  background: #f9f9f9;
  border: 1px solid #c1c1c1;
  margin: 2rem auto 0 auto;
  width: 500px;
  padding: 1em;
  border-radius: 5px;
  color: #575757;
}

.form input {
  background: #fff;
  border: 1px solid #9c9c9c;
  border-radius: 5px;
  outline: none;
}

.form button {
  background: lightgrey;
  padding: 0.7em;
  width: 100%;
  border-radius: 5px;
}

.form button:hover {
  color: white;
  background: #3b3b3b;
  transition: 0.6s;
}

label {
  padding: 0.5em 0.5em 0.5em 0;
}

input {
  padding: 0.7em;
  margin-bottom: 0.5rem;
  font-size: 17px;
}
